{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

{% assign page_lang = page.lang | default: "en" %}
{% if page.alternate_url %}
  {% if page_lang == "es" %}
    <link rel="alternate" hreflang="en" href="{{ page.alternate_url | prepend: site.url }}">
    <link rel="alternate" hreflang="es" href="{{ page.url | prepend: site.url }}">
    <link rel="alternate" hreflang="x-default" href="{{ page.alternate_url | prepend: site.url }}">
  {% else %}
    <link rel="alternate" hreflang="en" href="{{ page.url | prepend: site.url }}">
    <link rel="alternate" hreflang="es" href="{{ page.alternate_url | prepend: site.url }}">
    <link rel="alternate" hreflang="x-default" href="{{ page.url | prepend: site.url }}">
  {% endif %}
{% endif %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
